*.h5
*.obj
*.exe
*.pyc
advisor/
/aux_tools/0_databases_abs_err
/aux_tools/1_databases_rel_err
/src/version.cpp
launch-advisor.bat
launch-vtune.bat
settings.json
c_cpp_properties.json
build/
libs/
vtune/
aux_data/
bin/
